@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-list {
    @apply list-none;
    padding: 0;
  }

  .custom-list li {
    @apply pl-8 relative; /* Adjust padding based on the size of your icon */
  }

  .custom-list li::before {
    content: "";
    @apply absolute left-0 top-1/2 transform -translate-y-1/2;
    width: 10px; /* Adjust based on the size of your icon */
    height: 10px; /* Adjust based on the size of your icon */
    background-image: url("../public/list-icon.png"); /* Path to your PNG */
    background-size: cover;
    background-repeat: no-repeat;
  }

  .custom-circle-list {
    @apply list-none;
    padding: 0;
  }

  .custom-circle-list li {
    @apply pl-16 relative; /* Adjust padding based on the size of your icon */
    margin-left: 4rem; /* Adjust the margin based on your preference */
  }

  .custom-circle-list li::before {
    content: "";
    @apply absolute left-0 top-1/2 transform -translate-y-1/2;
    width: 40px; /* Adjust based on the size of your icon */
    height: 40px; /* Adjust based on the size of your icon */
    background-image: url("../public/circle-list-icon.png"); /* Path to your PNG */
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2rem; /* Adjust the margin between icon and text */
  }

  .triangle {
    @apply absolute;
    border-top: 12px solid green;
    z-index: 1;
    width: 240px;
    height: 40px;
    background-color: white;
    transform: translate(-10%, 84%) rotate(-14deg);
  }

  .triangle-1 {
    @apply absolute;
    border-top: 12px solid green;
    z-index: 1;
    width: 240px;
    height: 40px;
    background-color: white;
    transform: translate(85%, 78%) rotate(14deg);
  }
}
